---
import '../../repl/Repl.css';
---

<div id="code"></div>

<script>
  import { DoughMirror } from './dough-mirror.mjs';
  const root = document.getElementById('code');
  const doughmirror = new DoughMirror({ root });
  globalThis.settings = doughmirror.settings.bind(doughmirror);
</script>
<style>
  #code {
    height: 100vh;
  }
</style>
