---
import HeadCommon from '../../components/HeadCommon.astro';
import Dough from '../../components/Dough/Dough.astro';
---

<html lang="en" class="m-0 dark">
  <head>
    <HeadCommon />
    <title>Strudel Dough REPL</title>
  </head>
  <body class="h-app-height bg-background m-0">
    <Dough />
    <a rel="me" href="https://social.toplap.org/@strudel" target="_blank" class="hidden">mastodon</a>
  </body>
</html>
